.countdownHolder{
	width: 400px;  /* WIDTH OF COUNTDOWN */
	margin: 0 auto;
	font: 22px/1.5 'Open Sans Condensed',sans-serif; /* SIZE FONT */
	text-align: center;
	letter-spacing: -4px;
}
.countdownHolder .position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
	margin-right: 2px; /* SPACING FOR DIGIT*/
}
.countdownHolder .digit{
	position: absolute;
	display: block;
	width: 1em;
	background-color: #444;
	border-radius: 0.2em;
	text-align:center;
	color: #fff;
	letter-spacing: -1px;
}
.position-jour
{
vertical-align: top;
padding-right: 5px;

}

/* You can hide element*/

.countdownHolder .countDays{ /* display:none !important;*/ }
.countdownHolder .countDiv0{ /* display:none !important;*/ }
.countdownHolder .countHours{ /* display:none !important;*/ }
.countdownHolder .countDiv1{ /* display:none !important;*/ }
.countdownHolder .countMinutes{ /* display:none !important;*/ }
.countdownHolder .countDiv2{ /* display:none !important;*/ }
.countdownHolder .countSeconds{ /* display:none !important;*/ }
